# pyenv
.python-version

# documentation
_build/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# miscellaneous
.DS_Store

# pixi environments
.pixi/*
!.pixi/config.toml
report.svg
data/dwi_full_brainmask.h5
__pycache__
