attr
dipy
git+https://github.com/nipreps/EddyMotionCorrection.git@main
ghp-import
jupyter-book
jupytext
matplotlib
nibabel
nilearn
git+https://github.com/poldracklab/nitransforms.git@master
niworkflows >= 1.4.0rc5
numpy
pytest
requests
